

#page-main {
    width: 100%;
    max-width: 1100px;
  
    margin: 0 auto;
}
  
#page-main header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}  

#page-main .section-map {
    margin: 25px auto;
    padding: 34px 64px 24px 64px;
    max-width: 730px;
    background: #FFF;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

#page-main  .field-group {
    flex: 1;
    display: flex;
}

#page-main .field {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#page-main .section-map .span-help {
    color: #a1a1a1;
    text-align: justify;
    margin-bottom: 8px;
}

#page-main .section-map .text-help {
    margin-bottom: 8px;
    text-align: justify;
}

#page-main .section-map #uf,
#page-main .section-map #city {
    border-radius: 10px;
    padding: 3px;
}

#page-main .section-map .label-select {
    padding-left: 2px;
}

#page-main  .field-group  .field + .field {
    margin-left: 24px;
}

#page-main .section-map .leaflet-container {
    width: 100%;
    height: 350px;
    border-radius: 8px; 
}

#page-main .section-map .div-new-point {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

#page-main .section-map .button-new-point {
    border: none;
    background-color: #1CB119;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px 5px ;
}

#page-main .section-map .button-new-point:hover {
    background-color: #1CB119AA;
    
}

#page-main .section-points {
    margin: 25px auto;
    max-width: 730px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    background: #FFF;
    border-radius: 8px;
    padding: 20px 20px 0px 20px;
}

#page-main .section-points .points{ 
    padding-top: 20px;
}

#page-main .more-informations {
    border: none;
    background-color: #2C379EEE;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}

#page-main .more-informations:hover {
    background-color: #2C379EAA;
    
}

#page-main .more-informations:focus,
#page-main .section-map .button-new-point,
#page-main .section-map #uf,
#page-main .section-map #city {
   outline: none;
    
}